.about {
  padding-top: 100px;
}

.about .moduleTitle .shadow-text{
  top: 36px;
  left: 820px;
}

.about .content {
    padding: 54px 180px 182px;
    display: flex;
    gap: 36px;
}

.about .content .map {
    width: 750px;
    height: 310px;
}

.about .content .info {
    width: 750px;
    height: 310px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about .content .info .title {
    font-size: 24px;
    line-height: 28px;
}

.about .content .info .desc {
    font-size: 14px;
    line-height: 28px;
    width: 774px;
}

.about .content .info .methods{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about .content .info .methods .item{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 12px;
}
.about .content .info .methods .item .icon {
    width: 16px;
    height: 16px;
}

.about .content .info .methods .item .icon img {
    width: 100%;
    height: 100%;
}