#nav.active::after {
  content: "";
  position: absolute;
  background-color: #ff350d;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -8px;
}

.moduleTitle {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.moduleTitle .background-text {
  color: #fff;
  position: absolute;
  top: 36px;
  left: 533px;
}

.moduleTitle .title {
  font-size: 48px;
  margin-top: 128px;
  z-index: 999;
}

@keyframes SlideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px #000;
}

.text-border {
  font-size: 128px;
  color: transparent;
  -webkit-text-stroke: 1px #d9d9d9;
}

.grid-auto-fit-348 {
  grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 行数 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 首页 */
/* 服务范围 */
.background {
  background: url(../asset/service/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services .content .shadow-text {
  position: absolute;
  left: 54px;
  top: 75px;
}

.moduleTitle .stroke-text {
  color: #252429;
  -webkit-text-stroke: 1px #353535;
}

.description.start {
  animation: SlideInLeft 0.5s ease-out forwards;
}

.photo.start {
  animation: FadeIn 2s ease-in-out forwards;
}

/* 企业文化 */
.culture {
  background: url(../asset/culture/culture.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.text-indent-48px {
  text-indent: 48px;
}

.text-indent-32px {
  text-indent: 32px;
}

.text-indent-28px {
  text-indent: 28px;
}

.aspect-news-box {
  width: 100%;
  aspect-ratio: 348 / 506;
}

.aspect-map-box {
  aspect-ratio: 750 / 310;
}

.aspect-service-box1 {
  aspect-ratio: 1 / 1;
}

.aspect-service-box2 {
  aspect-ratio: 7 / 6;
}

.aspect-service-box3 {
  aspect-ratio: 329 / 242;
}

.aspect-service-box4 {
  aspect-ratio: 23 / 15;
}



/* 团队介绍 */
.top.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.teammate.start {
  animation: FadeIn 0.5s ease-in-out forwards;
}

.teammate-text.start {
  animation: FadeIn 1s ease-in-out forwards;
}

/* 新闻动态 */
.moduleTitle.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.news-img.start {
  animation: FadeIn 0.5s ease-in-out forwards;
}

.news-text.start {
  animation: SlideInRight 0.5s ease-in-out forwards;
}

/* 新闻列表页 */

/* 关于页 */

@media screen and (max-width: 768px) {
  .aspect-news-box {
    width: 100%;
    aspect-ratio: 334 / 518;
  }

  .aspect-map-box {
    aspect-ratio: 768 / 480;
  }

  .text-border {
    font-size: 32px;
  }

  .moduleTitle .background-text {
    color: #fff;
    position: static;
  }

  .moduleTitle .stroke-text {
    color: #252429;
    -webkit-text-stroke: 1px #353535;
  }

  .grid-auto-fit-348 {
    grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
  }
}
