#nav.active::after {
  content: "";
  position: absolute;
  background-color: #ff350d;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -8px;
}

.footer {
  width: 100%;
  height: 218px;
  background-color: #ff350d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  padding: 48px;
}

.footer .info {
  color: #fff;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  gap: 128px;
}

.footer .copyright {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 12px;
}

.footer .copyright .qr {
  width: 50px;
  height: 50px;
}

.footer .copyright .qr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moduleTitle {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.moduleTitle .background-text {
  color: #fff;
  position: absolute;
  top: 36px;
  left: 533px;
}

.moduleTitle .title {
  font-size: 48px;
  margin-top: 128px;
  z-index: 999;
}

@keyframes SlideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px #000;
}

.text-border {
  font-size: 128px;
  color: #f6f6f6;
  -webkit-text-stroke: 1px #d9d9d9;
}

.line {
  width: 128px;
  height: 6px;
  background-color: #ff350d;
}

.grid-auto-fit-348 {
  grid-template-columns: repeat(auto-fit, 348px);
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 行数 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 首页 */
/* 服务范围 */
.background {
  background: url(../asset/service/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services .content .shadow-text {
  position: absolute;
  left: 54px;
  top: 75px;
}

.description.start {
  animation: SlideInLeft 0.5s ease-out forwards;
}

.photo.start {
  animation: FadeIn 2s ease-in-out forwards;
}

/* 企业文化 */
.culture {
  background: url(../asset/culture/culture.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.text-indent-48px {
  text-indent: 48px;
}

.text-indent-32px {
  text-indent: 32px;
}

.text-indent-28px {
  text-indent: 28px;
}

/* 团队介绍 */
.top.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.teammate.start{
  animation: FadeIn 0.5s ease-in-out forwards;
}

.teammate-text.start {
  animation: FadeIn 1s ease-in-out forwards;
}


/* 新闻动态 */
.moduleTitle.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.moduleTitle .shadow-text {
  color: #252429;
  -webkit-text-stroke: 1px #353535;
}

.news-img.start {
  animation: FadeIn 0.5s ease-in-out forwards;
}

.news-text.start {
  animation: SlideInRight 0.5s ease-in-out forwards;
}

/* 新闻列表页 */

/* 关于页 */

.about {
  padding-top: 100px;
}

.about .moduleTitle .title-text {
  top: 36px;
  left: 820px;
}

.about .map {
  width: 750px;
  height: 310px;
}
