.news {
  width: 100%;
  height: 1206px;
}

.news .content {
  width: 100%;
  height: 100%;
  background-color: #252429;
}

.news .content .header {
  width: 100%;
  height: 306px;
  position: relative;
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.news .content .header.show {
  animation: SlideInRight 1s ease-in-out forwards;
}

.news .content .header .shadow-text {
  position: absolute;
  top: 50px;
  left: 533px;
  font-size: 128px;
  color: #252429;
  -webkit-text-stroke: 1px #353535;
}

.news .content .header .title {
  font-size: 48px;
  z-index: 999;
}

.news .content .news-list {
  display: flex;
  gap: 66px;
  padding: 0px 165px;
}

.news .content .news-list .item {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.news .content .news-list .item .cover {
  width: 348px;
  height: 506px;
  overflow: hidden;
}

.news .content .news-list .item .cover .show {
  animation: FadeIn 0.5s ease-in-out forwards;
}

.news .content .news-list .item .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .content .news-list .item .cover img:hover {
  transform: scale(1.1);
}

.news .content .news-list .item .title {
  font-size: 20px;
  color: #fff;
  line-height: 36px;
}

.news .content .news-list .item .text {
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

.news .content .news-list .item .title.show,
.text.show {
  animation: SlideInRight 0.5s ease-in-out forwards;
}
