.moduleTitle.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.moduleTitle .shadow-text {
  color: #252429;
  -webkit-text-stroke: 1px #353535;
}

.news-img.start {
  animation: FadeIn 0.5s ease-in-out forwards;
}

.news-text.start {
  animation: SlideInRight 0.5s ease-in-out forwards;
}
