.background {
  background: url(../asset/service/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services .content .shadow-text {
  position: absolute;
  left: 54px;
  top: 75px;
}

.description.start {
  animation: SlideInLeft 0.5s ease-out forwards;
}

.photo.start {
  animation: FadeIn 2s ease-in-out forwards;
}
