.top.start {
  animation: SlideInRight 1s ease-in-out forwards;
}

.teammate.start{
  animation: FadeIn 0.5s ease-in-out forwards;
}

.teammate-text.start {
  animation: FadeIn 1s ease-in-out forwards;
}
